# Binaries
bin/
*.exe
*.dll
*.so

# Build / coverage
*.test
*.out
coverage.txt

# IDE/editor
.idea/
.vscode/
*.swp
*.swo

# Mac
.DS_Store

# Local Go build cache (used in tests to avoid permission issues)
.cache/
